body {
    margin: 0;
    background-color: #ec9090;
}

h1{
    color: chartreuse;
    text-align: center;
    font-size: 40px;
    background-color: blue;
    margin: 0%;
}

.icon-bar {
    width: 100%;
    background-color: rgba(85, 85, 85, 0);
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 16.66%;
    text-align: center;
    transition: all 0.5s ease;
    color: rgb(114, 4, 136);
    font-size: 30px;
    text-decoration: none;
    font-family: 'Bahnschrift', Courier, monospace;
    
}

.icon-bar a:hover {
    background-color: #db0b0bec;
    color: #4ebbeed8;
    text-decoration: none;
}


.active{
    background-color:#3df803de;
    text-decoration: none;
}
.category button{
    background-color: darkturquoise;
    width: 48%;
    float: left;
    padding: 40px 0;
    margin: 1%;
    font-size: 40px;
}

.contact{
    color: peru;
    text-decoration: none;
}