body{

padding: 0%;
margin: 0mm;
background-color: rgb(238, 245, 246);
}
p{
  margin-top: 15px;
  margin-bottom: 15px;
}
h2{
  margin-top: 0%;
  margin-bottom: 3px;
}

header{
  width: 100%;
  position: fixed;
}
nav {
 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:auto;
  background-color: rgb(47, 44, 44);
  font-family: cursive;
}
li{
  display: inline;

  font-size: 200px;

  color:rgb(233, 233, 224) ;
  padding: 3px;}
  @media only screen and (max-width: 400px) {
li{
  font-size: 10px;

}}

.active{
  padding: 4px;
  background-color: #04AA6D;
}
.login {
  padding: 4px;
  color: aliceblue;
  float: right;
  background-color: #04AA6D;
}
.request{
  background-color: rgb(49, 47, 47);
  color: beige;
  padding: 4px;
  float: right;
}
             /*-------------part1-----------------------------*/
 
#front1{
  
width: 90%;
  }
                      /*-----------------row1---------------*/
@media only screen and (min-width: 800px) {

#row1{
  justify-content: center;
  
  display: flex;
  flex-direction: row;

}}

 
.camp{
/*background-image: url("po1.jpg");*/
width: fit-content;
font-size: 25px;
border-style:calc();
padding: 5px;
border-width: 1px;
margin-left: auto;
margin-right: auto;
margin: 2px;
text-align: center;
background-color: rgb(224, 204, 178);

}
@media only screen and (max-width: 800px) {
.camp{
  font-size: 15px;

}}



.image{
height: auto;
}
#button{
margin-right: auto;
margin-left: auto;
}

                  /*----------------------whatudo--------------------------------*/




.out{
  
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}

.whatudo{
  background-color: rgb(100, 90, 90);
  text-align: center;
  color:rgb(173, 165, 165);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}



/*------------------footer--------------*/






/*-------------------------------------------*/
@media only screen and (max-width: 400px) {

#pic1{
  width: 100%;
}
.leapimg{
  width: 100%;
}
#front1{
  width: 100%;}}