nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:auto;
  background-color: #333;
  font-family: cursive;
}

a{
  float: left;
  border-right: solid #bbb;
}



a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 3px 10px;
  text-decoration: none;
}
.active{
  background-color: #04AA6D;

}
.login {
  float: right;
  background-color: #04AA6D;
}
.request{
  float: right;
}
.donate{
  float: right;
}
#donate-button{
    text-align: center;
    


}


.st1part{
  
  background-image: url("" );
  background-color: burlywood;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  font-weight: bold;



}

#pic1{
width: 50%;
height: 50%;
 
}